/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: 'Inter-Variable', sans-serif;
  font-weight: 400; 
  font-variation-settings: var(--main-weight);
  background-image: repeating-linear-gradient(
      var(--line-global-color, #000),
      var(--line-global-color, #000) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 2px,
      var(--line-global-color, #000) 2px,
      var(--line-global-color, #000) 4px
    ),
    linear-gradient(var(--gradient-color-1, #007f0c) 0.01%, var(--gradient-color-2, #007f0c) 100%);
  background-size: cover;
  background-attachment: fixed;
}


@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--feature-font-family), sans-serif;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  block-size: clamp(20.4375rem, 19.5352rem + 3.8498vw, 23rem);
  margin-block-start: 100px;
  margin-block-end: 100px;
  font-family: var(--global-font-family), sans-serif;
  font-weight: 400;
  color: var(--global-color, #00cc14);
  border: 2px solid var(--global-bd-color, #00cc14);
  background-color: var(--bg-header, #000);
  transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
}

.header__decor {
  margin-block-end: 18px;
  font-family: inherit;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;

}

.header__title {
  margin-block-end: 25px;
  font-size: clamp(0.875rem, 0.6768rem + 0.8459vw, 1.4375rem);
  font-weight: 400;
  line-height: var(--m-line-height, 23px);
  text-transform: uppercase;
}

.theme-menu {
  margin-block-end: 22px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.button {
  position: relative;
  appearance: none;
  font-size: var(--s-font-size, 14px);
  line-height: var(--s-line-height, 14px);
  border: none;
  background: none;
  outline: none;
  transition: font-size 0.3s ease, line-height 0.3s ease;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    box-shadow: 2px 2px var(--global-bd-color, #00cc14);
  }
}

@media (hover: hover) {
  .button:hover {
    cursor: var(--cursour-pointer), pointer;
  }
}

.theme-menu__button {
  margin-inline-start: 20px;
  text-transform: uppercase;
  transition: margin-inline-start 0.3s ease;

  &:focus-visible {
    outline: none;
    opacity: 0.6;
  }

  &:focus-visible::after {
    content: '';
    position: absolute;
    right: 4px;
    bottom: -3px;
    left: 4px;
    border-block-end: 1px solid var(--global-bd-color, #00cc14);
    animation: scaleX 5s ease-in;
    transform-origin: 0 0;
  }
}

@media (hover: hover) {
  .theme-menu__button {
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -3px;
      height: 1px;
      background-color: var(--global-bd-color, #00cc14);
      transform: scaleX(0);
      transition: transform 0.3s ease;
    }
  }
}

.theme-menu__button:disabled {
  opacity: 60%;
  pointer-events: none;

  &::before {
    content: '▶';
    position: absolute;
    top: 0;
    left: -15px;
    color: inherit;
    animation: left-right 3s ease-in-out infinite alternate;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  inline-size: clamp(23.4375rem, 16.3666rem + 30.1692vw, 43.5rem);
}

.card {
  padding-block-end: 14px;
  border: 2px solid var(--global-bd-color, #00cc14);
  background-color: var(--bg-header, #000);
}

.card__title {
  padding-block: 3px 5px;
  padding-inline: 8px;
  color: var(--global-color, #00cc14);
  font-size: 18px;
  font-variation-settings: var(--aсcent-weight);
  line-height: var(--sm-line-height, 22px);
  border-block-end: 2px solid var(--global-bd-color, #00cc14);
}

@supports (font-variation-settings: normal) {
  .card__title {
    font-family: var(--feature-font-family), sans-serif;
    font-variation-settings: var(--l-font-feature-settings, 785);
  }
}

.card__img {
  position: relative;
  block-size: clamp(23.25rem, 16.113rem + 30.4511vw, 43.5rem);
}

.img-filter {
  width: 100%;
  height: auto;
}

.img-filter-sapia {
  filter: sepia(80%);
}

.img-filter-saturete {
  filter: saturate(300%);
}

.img-filter-contrast {
  filter: contrast(90%);
}

.img-filter-invert {
  filter: invert(0.7);
}

.img-filter-grayscale {
  filter: grayscale(0.8);
}

.img-filter-blur {
  filter: blur(1rem);
}

.img-filter-sapia-hue-rotate-saturate {
  filter: sepia(80%) hue-rotate(60deg) saturate(300%);
}

.label {
  position: absolute;
  top: 25px;
  right: 25px;
  color: var(--global-color, #00cc14);
  font-family: var(--global-font-family), sans-serif;
  font-weight: 400;
  font-size: var(--s-font-size, 14px);
  line-height: 14px;
  text-shadow:
    -1px 0px var(--tx-shadow, #000),
    0px 1px var(--tx-shadow, #000),
    1px 0px var(--tx-shadow, #000),
    0px -1px var(--tx-shadow, #000);
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

@supports ((text-stroke: 1px #000) or (-webkit-text-stroke: 1px #000)) {
  .label {
    -webkit-text-stroke-color: var(--tx-shadow, #000);
    -webkit-text-stroke-width: 1px;
    text-stroke: 1px var(--tx-shadow, #000);
    text-shadow: none;
  }
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px 24px 12.5px;
  color: var(--global-color, #00cc14);
  font-size: var(--m-font-size, 18px);
  font-variation-settings: var(--main-weight);
  line-height: var(--ssm-line-height, 21px);
  border-block-start: 2px solid var(--global-bd-color, #00cc14);
  font-variation-settings: var(--text-weight);
}

@supports (font-variation-settings: normal) {
  .card__text {
    font-family: var(--feature-font-family), sans-serif;
    font-variation-settings: var(--s-font-feature-settings, 465);
  }
}

.card__icon-button {
  display: flex;
  transition: box-shadow 0.3s ease, outline 0.3s ease, transform 0.3s ease; 

}

.box-like {
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
  inline-size: 100%;
  align-items: center;
  padding-block: 12.5px 12px;
  padding-inline-end: 25px;
}

.like-icon {
  transition: fill 0.3s ease;

  & .contour {
    fill: var(--fill-border, #00cc14);
    transition: fill 0.1s linear;
  }

  & .main-body {
    fill: transparent;
    transition: fill 0.3s linear;
  }

  & .core {
    fill: transparent;
    transition: fill 0.3s linear 0.03s;
  }

  & .sparks {
    fill: transparent;
  }
}

@media (hover: hover) {
  .like-icon:hover .core,
  .like-icon:hover .main-body {
    fill: var(--fill-border, #00cc14); 
    transition: fill 0.3s linear;
  }

  .card__icon-button:hover {
    transform: scale(1.05); 
  }
}

@media (hover: hover) {
  .heart:hover {
    cursor: var(--cursour-pointer), pointer;

    & .main-body {
      fill: var(--fill-border, #00cc14);
      transition: fill 0.3s linear 0.05s;
    }

    & .core {
      fill: var(--fill-border, #00cc14);
      transition: fill 0.3s linear;
    }
  }
}

.heart:active {
  & .main-body {
    fill: var(--fill-active, #00cc14);
    transition-delay: 0.05s;
  }

  & .core {
    fill: var(--fill-active, #00cc14);
    transition-delay: 0s;
  }

  & .contour {
    fill: var(--fill-border, #000);
    transition: 0.05s;
  }
}

.like-icon.is-liked {
  & .core {
    fill: var(--fill-global, #ff0000);
    transition-delay: 0s;
  }

  & .main-body {
    fill: var(--fill-global, #ff0000);
    transition: fill 0.3s linear 0.05s;
  }

  & .contour {
    transition: fill 0.3s linear 0.06s;
    fill: var(--fill-global, #ff0000);
  }

  transition: transform 0.3s ease;

}

@media (prefers-reduced-motion: no-preference) {
  .like-icon.is-liked {
    animation: like-click 0.3s 0.1s ease-in alternate;
    transform-origin: 50% 50%;

    & .sparks {
      animation: like-click-sparks 0.3s 0.3s ease-in alternate;
    }
  }
}


.card__like-button {
  background-color: var(--bg-secondry, #000);
  border: 2px solid var(--global-bd-color, #00cc14);
  transition: background-color 0.3s ease, border-color 0.3s ease;
  overflow: hidden;
}



.button__text {
  display: inline-block;
  font-family: var(--global-font-family), sans-serif;
  font-weight: 400;
  line-height: var(--s-lie-height, 14px);
  color: var(--global-color, #00cc14);

}

.button__text-ok {
  text-transform: uppercase;
}

.button__text-padding {
  padding-inline: 29px;
  padding-block: 9px;
  
}



@media (hover: hover) {
  .button .button__text::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--bg-accent, #00cc14);
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 0.7s ease-in-out, transform 0.5s ease-in-out;
  }

  .button__text::before {
    mix-blend-mode: difference;

  }

  .button:hover .button__text::before {
    transform: scaleX(1);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .button .button__text::before {
    transform-origin: left;
  }
}


.footer {
  display: flex;
  justify-content: center;
  padding-block: 50px 103px;
}

.button-save { 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-inline: 19px 21px;
  padding-block: 15px;
  border: 2px solid var(--global-bd-color, #00cc14);
  background-color: var(--bg-secondry, #000);

}

.icon-floppy {
  max-width: 21px;
  height: auto;
}

.button__animated { 
  position: relative;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  cursor: pointer;
  overflow: hidden;
  font-family: var(--aсcent-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 12.6px;
  text-align: center;
  animation: 0.5s linear;
  transition: box-shadow 0.3s ease;
}

.button__animated:focus {
  outline: none;
}

.button__animated:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button__animated::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: translateX(-100%);

  transition: transform 0.5s ease-in-out;
}

.button__animated:hover::before {
  transform: translateX(0);
}

.button__text {
  color: var(--like-color);
  mix-blend-mode: difference;
}

.dialog-mode {
  inline-size: clamp(21.3125rem, 20.9601rem + 1.5038vw, 22.3125rem);
  padding: 30px;
  border: 2px solid var(--global-bd-color, #00cc14);
  background-color: var(--bg-secondry, #000);
}

.dialog-mode::backdrop {
  background-color: rgba(0 0 0 /0.75);
}

.floppy {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;


}

.floppy__title {
  color: var(--global-color, #00cc14);
  font-family: var(--global-font-family, sans-serif);
  font-size: var(--s-font-size, 14px);
  font-weight: 400;
  line-height: var(--ssm-line-height, 21px);
  text-transform: uppercase;

}

.button__text--save-mode {
  margin-block-start: 30px;
  padding: 10px clamp(7.03125rem, 6.6348rem + 1.6917vw, 8.15625rem);
  border: 2px solid var(--global-bd-color, #00cc14);

}

@media (max-width: 400px) {
  
  .header__title {
    margin-block-end: 17px;
  }

  .card {
    padding-block-end: 13px;
  }

  .card__title {
    padding-block: 5px 36px;
  }

  .card__text {
    padding-inline-end: 30px;
  }

  .label {
    top: 23px;
    right: 11px;
  }


  .button-save {
    flex-direction: column;
    padding-inline: 19.5px 20.5px;
    padding-block: 15px;
  }

  .icon-floppy {
    max-width: 28px;
    height: auto;
  
  }

}









